<head th:fragment="header">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="">
    <meta name="description" content=""><!--这两句话是为搜索引擎准备的-->
    <title>迎风布阵</title>
    <link href="/css/demoPCWL/demo.css" rel="stylesheet">
    <link href="/webjars/bootstrap/3.3.7/css/bootstrap.css" rel="stylesheet">
    <link href="/webjars/layui/2.5.4/css/layui.css" rel="stylesheet">

</head>
<div th:fragment="footer">
    <script src="/js/jquery.min.js?v=2.1.4"></script>
    <!--<script src="webjars/jquery/2.1.4/jquery.js"></script>-->
    <!--<script src="/js/plugins/validate/jquery.validate.extend.js?=0.0.0"></script>-->
    <script src="/js/plugins/validate/jquery.validate.min.js"></script>
    <script src="/js/plugins/validate/messages_zh.min.js"></script>
    <script src="/webjars/bootstrap/3.3.7/js/bootstrap.js"></script>
    <script src="/webjars/bootstrap-table/1.9.1/src/bootstrap-table.js"></script>
    <script src="/webjars/bootstrap-table/1.9.1/dist/bootstrap-table-locale-all.js"></script>
    <script src="/webjars/layui/2.5.4/layui.all.js"></script>
</div>
