<head th:fragment="header">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="">
    <meta name="description" content=""><!--这两句话是为搜索引擎准备的-->
    <title>迎风布阵</title>
    <link href="/css/bootstrap337/css/bootstrap.css" rel="stylesheet">
</head>
<div th:fragment="footer">
    <script src="/js/jquery.min.js?v=2.1.4"></script>
    <script src="/js/plugins/bootstrap337/js/bootstrap.js"></script>
    <script src="/js/plugins/bootstrap-table/bootstrap-table.min.js"></script>
    <script src="/js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.js"></script>
    <script src="/js/plugins/layui311/layer.js"></script>
</div>
