<head th:fragment="header">

</head>
<div th:fragment="footer">
	<script src="/js/jquery.min.js?v=2.1.4"></script>
	<script src="/js/plugins/validate/jquery.validate.min.js"></script>
	<script src="/js/plugins/validate/messages_zh.min.js"></script>
	<script src="/js/plugins/jqTreeGrid/jquery.treegrid.min.js"></script>
	<script src="/js/plugins/jqTreeGrid/jquery.treegrid.extension.js"></script>
	<script src="/js/plugins/jqTreeGrid/jquery.treegrid.bootstrap3.js"></script>
	<script src="/js/plugins/chosen/chosen.jquery.js"></script>
	<script src="/js/bootstrap.min.js?v=3.3.6"></script>
	<script src="/js/plugins/bootstrap-table/bootstrap-table.min.js"></script>
	<script src="/js/plugins/bootstrap-table/bootstrap-table-mobile.min.js"></script>
	<script
			src="/js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
	<script src="/js/plugins/layer/layer.js"></script>
	<script src="/js/content.js?v=1.0.0"></script>
	<script src="/js/plugins/jsTree/jstree.min.js"></script>
	<!--summernote-->
	<script src="/js/plugins/summernote/summernote.js"></script>
	<script src="/js/plugins/summernote/summernote-zh-CN.min.js"></script>
	<script src="/js/ajax-util.js"></script>
</div>
