<!DOCTYPE html>
<html>
<head th:include="include :: header"></head>
<body>
<div>
    <div>
        <div>
            <div>
                <div id="exampleToolbar" role="group">
                    <button type="button" class="btn  btn-primary"
                            onclick="batchCode()">
                        批量生成
                    </button>
                    <button type="button" class="btn  btn-success"
                            onclick="edit()">
                        生成策略
                    </button>
                </div>
                <table id="exampleTable" data-mobile-responsive="true">
                </table>
            </div>
        </div>
    </div>
</div>
<div th:include="include :: footer"></div>
<script type="text/javascript" src="/js/appjs/common/generator/list.js"></script>
</body>
</html>